@import "tailwindcss";
@plugin "daisyui";

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--color-blue-50);
  overflow: auto;
  scrollbar-width: none; 
}

main {
  @apply min-h-screen text-gray-950 p-5 lg:p-10;
}

@layer utilities {
  .shadow {
    box-shadow: 0 0 10px 2px black
  }
  .shadow-light {
    box-shadow: 0 0 10px 2px white
  }
  .text-light {
    color: var(--color-gray-100);
  }
  .text-dark {
    color: var(--color-gray-950);
  }
  .bg-light {
    background-color: var(--color-gray-100);
  }
  .bg-dark {
    background-color: var(--color-gray-950);
  }
  .bg-gradient {
    @apply bg-linear-to-r/srgb from-indigo-500 to-teal-500;
  }
  .bg-gradient-hover:hover {
    @apply bg-linear-to-r/srgb from-teal-500 to-indigo-500;
  }
}